/* Styles for New-Book-Card */
.New-Book-Card {
    list-style-type: none;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
}

/* Image styles */
.newbookimage {
    width: 350px;
    height: 224px;
    flex-shrink: 0;
    border-radius: 4px;
}

/* Title styles */
.newBookTitle {
    color: var(--light-blue-gray-700, #334155);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
    text-decoration: none;
}

/* Price styles */
.newBookPrice {
    color: var(--light-blue-gray-600, red);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    text-decoration: none;
}

/* Link styles */
.Link {
    text-decoration: none;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 480px) {
    /* Small screens */
    .New-Book-Card {
        margin-right: 10px;
        margin-left: 10px;
        height: 230px;
        width: 230px;
        
    }
    
    .newbookimage {
        width: 100%;
        height: 145px;
        border-radius: 8px;
    }
    
    .newBookTitle {
        font-size: 15px;
        line-height: 10px;
    }
    
    .newBookPrice {
        font-size: 7px;
        line-height: 7px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Medium screens */
    .New-Book-Card {
        margin-right: 20px;
        margin-left: 20px;
        height: 250px;
        width: 250px;
    }
    
    .newbookimage {
        width: 80%;
        height: 155px;
        border-radius: 6px;
    }
    
    .newBookTitle {
        font-size: 18px;
        line-height: 10px;
    }
    
    .newBookPrice {
        font-size: 8px;
        line-height: 9px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Large screens */
    .New-Book-Card {
        margin-right: 30px;
        margin-left: 30px;
        height: 300px;
        width: 300px;
    }
    
    .newbookimage {
        width: 70%;
        height: auto;
        border-radius: 6px;
    }
    
    .newBookTitle {
        font-size: 23px;
        line-height: 14px;
    }
    
    .newBookPrice {
        font-size: 10px;
        line-height: 13px;
    }
}

@media only screen and (min-width: 1025px) {
    /* Extra-large screens */
    .New-Book-Card {
        margin-right: 40px;
        margin-left: 40px;
        height:350px;
        width:350px;
    }
    
    .newbookimage {
        width: 60%;
        height: 190px;
        border-radius: 6px;
    }
    
    .newBookTitle {
        font-size: 23px;
        line-height: 32px;
    }
    
    .newBookPrice {
        font-size: 15px;
        line-height: 30px;
    }
}
